@import url('pyramid-graphic.css');

#pyramid {
  display: grid;
}

#pyramid > .titles-container {
  grid-area: titles;
}

#pyramid > .controls-container {
  grid-area: controls;
  display: flex;
}

#pyramid > .graphic-container {
  grid-area: graphic;
  position: relative;
}

#pyramid > .slider-container {
  grid-area: slider;
  display: flex;
  align-items: stretch;
  justify-content: left;
  padding-right: 2em;
}

#pyramid > .data-container {
  grid-area: data;
  position: relative;
}

#pyramid > .titles-container p:empty::before {
  content:"";
  display:inline-block;
}

#pyramid select {
  width: 175px;
}

#pyramid input[type="range"] {
  appearance: slider-vertical;
  width: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: transparent;
}

#pyramid datalist {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 0.8em;
}

#pyramid table {
  border-collapse: collapse;
  text-align: right;
  margin-bottom: 1em;
}

#pyramid dl {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

#pyramid dt {
  font-weight: bold;
}

#pyramid dd {
  margin-inline-start: 0;
}

#pyramid dl > div:first-child :where(dt, dd) {
  display: inline;
}

#pyramid dd span {
  display: block;
}

#pyramid thead th {
  border-bottom: 1px solid black;
}

#pyramid tfoot :where(th, td) {
  border-top: 1px solid black;
}

:where(thead, tfoot) th {
  text-align: left;
}

#pyramid th {
  font-weight: normal;
}

#pyramid :where(th, td) {
  width: 80px;
}

#pyramid :where(th, td):not(:last-child)  {
  border-right: 0.7em solid transparent;
}

#pyramid .dependency-ratios {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
}

#pyramid .dependency-ratios > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
}

#pyramid .dependency-ratios p {
  margin: 0;
}

#pyramid .links {
  display: flex;
  column-gap: 4em;
}

#pyramid .play-pause-container {
  position: absolute;
  right: 2%;
  bottom: 10%;
}

#pyramid .play-pause-container button {
  all: unset;
  cursor: pointer;
}

#pyramid .play-pause-container button g {
  fill: rgb(44, 116, 181);
}

#pyramid .play-pause-container .pause-button {
  display: none;
}

#pyramid.animating .play-pause-container  .play-button {
  display: none;
}

#pyramid.animating .play-pause-container .pause-button {
  display: unset;
}

@media (min-width: 1000px) {
  #pyramid {
    grid-template-columns: 4fr auto 3fr;
    column-gap: 1em;
    grid-template-areas: 
      "titles titles titles"
      "graphic slider controls"
      "graphic slider data";
  }

  #pyramid :where(.controls-container, .data-container > *) {
    margin-bottom: 1em;
  }
}