#pyramid .graphic-container {
  --width: 600px;
  --height: 600px;
  --margin-top: 25px;
  --margin-right: 20px;
  --margin-bottom: 50px;
  --margin-left: 20px;
  --x-mid-width: 30px;
  --tick-height: 8px;
  --tick-gap: 4px;
}

#pyramid .graphic-container .main-graphic svg {
  width: 100%;
  height: 100%;
}

#pyramid .age-structure {
  transform: translate(var(--margin-left), var(--margin-top));
  font-weight: bold;
}

#pyramid .age-structure :first-child {
  font-size: 0.8em;
}

#pyramid .age-structure .big-year {
  transform: translateY(15px);
  font-size: 2.2em;
}

#pyramid .axes {
  font-size: 0.8em;
}

#pyramid .x-axes {
  transform: translateY(calc(var(--height) - var(--margin-bottom)));
}

#pyramid .y-axis {
  font-weight: bold;
}

#pyramid .axis-title {
  transform: translateY(var(--margin-bottom));
}

#pyramid .left {
  transform: translateX(var(--margin-left));
}

#pyramid .right {
  --full-width: calc(var(--width) - (var(--margin-left) + var(--margin-right) + var(--x-mid-width)));
  --half-width: calc(var(--full-width) / 2);
  --translateX: calc(var(--margin-left) + var(--half-width) + var(--x-mid-width));
  transform: translateX(var(--translateX));
}

#pyramid .ticks line {
  stroke-width: 0.25px;
  stroke: #666666;
}

#pyramid .ticks text {
  transform: translateY(calc(var(--tick-height) + var(--tick-gap)));
}

#pyramid .data rect {
  stroke: white;
  stroke-width: 0.05px;
  cursor: pointer;
}

#pyramid .data .males :not(min) {
  fill: rgb(44, 116, 181);
}

#pyramid.v0 .data .males :not(min) {
  fill: rgb(20, 50, 80);
}

#pyramid .data .females :not(min) {
  fill: rgb(253, 72, 78);
}

#pyramid.v0 .data .females :not(min) {
  fill: rgb(150, 40, 45);
}

#pyramid .data :is(.males, .females) rect.min {
  fill: white;
  fill-opacity: 0.25;
  pointer-events: none;
  stroke-opacity: 0;
}

#pyramid .data .chosen :is(.males, .females) rect:not(min) {
  fill: black;
}

#pyramid .grid-line {
  stroke: white;
  stroke-width: 0.25px;
  pointer-events: none;
}

#pyramid .yob-labels {
  pointer-events: none;
}

#pyramid .large-yob-label {
  font-weight: bold;
  fill: black;
  stroke: white;
  stroke-width: 0.25px;
  display: none;
}

#pyramid.v0 .large-yob-label {
  fill: white;
  stroke: black;
}

#pyramid .chosen .large-yob-label {
  display: unset;
}

#pyramid .small-yob-label {
  font-size: 0.6em;
  fill: white;
  stroke: black;
  stroke-width: 0.1px;
}

#pyramid .yob-labels > :first-child .small-yob-label,
#pyramid .chosen .small-yob-label,
#pyramid .chosen + * .small-yob-label,
#pyramid .chosen + * + * .small-yob-label,
#pyramid .chosen + * + * + * .small-yob-label,
#pyramid .chosen + * + * + * + * .small-yob-label,
#pyramid :has(+ .chosen) .small-yob-label {
  opacity: 0;
}