#pyramid .mini-graphic {
  --width: 80px;
  --height: 100px;
  --margin-top: 5px;
  --margin-right: 5px;
  --margin-bottom: 20px;
  --margin-left: 5px;
  --x-mid-width: 5px;
}

#pyramid .mini-graphic .left {
  transform: translateX(var(--margin-left));
}

#pyramid .mini-graphic .right {
  --full-width: calc(var(--width) - (var(--margin-left) + var(--margin-right) + var(--x-mid-width)));
  --half-width: calc(var(--full-width) / 2);
  --translateX: calc(var(--margin-left) + var(--half-width) + var(--x-mid-width));
  transform: translateX(var(--translateX));
}

#pyramid .mini-graphic polyline {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

#pyramid .mini-graphic .ref-year {
  font-weight: bold;
  stroke: white;
  stroke-width: 0.5px;
  transform: translateX(50%) translateY(50px);
}

#pyramid .mini-graphic .assumptions {
  font-size: 0.7em;
  transform: translateX(50%) translateY(calc(var(--height) - 5px));
}