@import url('variables.css');
@import url('pyramid.css');
@import url('line-charts.css');
@import url('histograms.css');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
}

main {
  width: 900px;
  max-width: 95%;
  margin: 0 auto;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 36px;
  color: #111314;
  padding-left: 8%;
  padding-right: 8%;
}

h2 {
  font-family: 'Open Sans';
  font-size: 26px;
  padding-left: 8%;
  padding-right: 8%;
}

h3 {
  font-family: 'Open Sans';
  font-size: 20px;
  padding-left: 8%;
  padding-right: 8%;
}

h3.viz-title {
  font-family: 'Fira Sans';
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 0;
  padding-right: 8%;
  padding-top: 0.75rem;
}

h4.viz-sub-title {
  font-weight: 400;
  font-size: 1.2rem;
}

h4.viz-sub-title span {
  color: #636363;
  font-weight: 600;
}

p {
  max-width: 80ch;
}

.narrative {
  line-height: 1.35em;
  font-size: 22px;
  font-family: Gelasio;
  color: #3d4446;
  padding-left: 8%;
  padding-right: 8%;
}

a {
  border-top: none;
  color: #2c74b5;
}

a:hover {
  border-top: none;
  color: #6b9dcb;
}

/* download button */
.download-btn { 
  align-items: center;
  border-radius: 6px;
  background: #f7bb3c;
  border: 2px solid #f7bb3c;
  color: #111314 !important;
  height: 100%;
  font-weight: normal;
  padding: 8px;
  float: left;
  display: flex;
  font-size: 0.9rem;
}

.download-btn:hover {
  background: #fff;
}

/*---------------------------------------------------------------------------*/
/* header */
/*---------------------------------------------------------------------------*/
.main-header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2001;
}

.navbar {
  display: flex;
}

.navbar-content {
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: space-between;
}

.home-page-grp {
  line-height: 1;
}

#home-page {
  color: #3d4446;
  border: 0;
  font-weight: 600;
  text-decoration: none;
}

.right-grp {
  display: flex;
}

.right-grp a {
  display: flex;
  border: 0;
}

.header-su-logo {
  width: 90px;
  height: 90px;
}
/*---------------------------------------------------------------------------*/
/* end header */
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* footer */
/*---------------------------------------------------------------------------*/
.main-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  background: #3d4446;
}

.main-footer .inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-footer .inner-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-footer .inner-group-copyright {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.main-footer .inner-group-social-links {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-footer .inner-group-links {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-footer .inner-group-links > *:last-child {
  margin-right: 0
}

.main-footer .inner-group-version {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main-footer .igc {
  display: block;
  color: #cccccc;
  line-height: 1.6;
  font-size: 16px;
}

.main-footer :is(.igl, .igsl, .igv) {
  display: inline;
  color: #cccccc;
  line-height: 1.6;
  font-size: 16px;
  margin-right: 20px;
}

.main-footer a {
  color: #cccccc;
  text-decoration: none;
}

.main-footer a:hover {
  color: #ffffff;
  text-decoration: none;
}
/*---------------------------------------------------------------------------*/
/* end footer */
/*---------------------------------------------------------------------------*/

section {
  margin-bottom: 5em;
}

select, .area-select input, .area-select ul {
  width: 175px;
  min-height: 25px;
}

.area-select {
  position: relative;
}

.area-select ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  flex-direction: column;
  padding: 0;
  row-gap: 0.3em;
  z-index: 100;
  margin: 0;
  border: 1px solid #666666;
  border-radius: 3px;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(2px);
  font-size: 0.8em;
  height: 200px;
  overflow: auto;
  overflow-x: hidden;
}

.area-select.open ul {
  display: flex;
}

.area-select li {
  display: block;
  flex: 0 0 auto;
  list-style: none;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0;
  cursor: pointer;
}

.area-select li span {
  transition: transform 2s;
  display: block;
}

.area-select li:focus {
  outline: 3px solid purple;
}

.area-select :is(li:hover, li:focus)  {
  text-overflow: unset;
  min-width: fit-content;
}

.area-select :is(li:hover, li:focus) span {
  min-width: fit-content;
}

.area-select li.best-match {
  color: white;
  background-color: black;
}

.help {
  position: relative;
  font-size: 0.8em;
  border: 1px solid black;
  display: inline-block;
  padding: 0.1em 0.3em;
  margin-left: 1em;
  border-radius: 50%;
  cursor: help;
}

[role="tooltip"] {
  display: none;
  position: absolute;
}

:is(.help:hover, .help:focus-visible) [role="tooltip"] {
  display: unset;
  width: 200px;
  transform: translateX(-50%) translateY(-110%);
  padding: 0.25em;
  border-radius: 3px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  pointer-events: none;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin: auto;
  color: inherit;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
}

input[type="checkbox"]:checked::before {
  left: 1em;
}

.dropdowns {
  display: grid;
  column-gap: 2em;
  grid-template-columns: 370px 370px;
  row-gap: 1em;
  margin-bottom: 1em;
}

.dropdowns label {
  display: flex;
  justify-content: space-between;
  column-gap: 0.25em;
}

.dropdowns label span {
  flex: 1 1 0;
  overflow: hidden;
  white-space: nowrap;
}

.dropdowns label span::after {
  content: " ...................................";
  font-size: 0.7em;
  color: #aaaaaa;
  display: inline-block;
  transform: translateY(3px);
  opacity: 0.5;
}

@media (max-width: 830px) {
  .dropdowns {
    grid-template-columns: min(370px, 100%);
  }

  .dropdowns label span::after {
    content: none;
  }
}

@media (max-width: 400px) {
  .dropdowns label {
    flex-direction: column;
    width: 100%;
  }

  .dropdowns label span {
    all: unset;
  }

  .dropdowns label select {
    width: 100%;
  }
}