@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url('variables.css');
@import url('pyramid/styles.css');
@import url('line-charts/styles.css');
@import url('histograms/styles.css');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
}

main {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
}

a {
  color: #2C74B5;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid currentColor;
}

a:hover {
  border-top-color: currentColor;
}

p {
  max-width: 80ch;
}

section {
  margin-bottom: 5em;
}

select {
  width: 175px;
}

.help {
  position: relative;
  font-size: 0.8em;
  border: 1px solid black;
  display: inline-block;
  padding: 0.1em 0.3em;
  margin-left: 1em;
  border-radius: 50%;
  cursor: help;
}

[role="tooltip"] {
  display: none;
  position: absolute;
}

:is(.help:hover, .help:focus-visible) [role="tooltip"] {
  display: unset;
  width: 200px;
  transform: translateX(-50%) translateY(-110%);
  padding: 0.25em;
  border-radius: 3px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  pointer-events: none;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin: auto;
  color: inherit;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
}

input[type="checkbox"]:checked::before {
  left: 1em;
}

.dropdowns {
  display: grid;
  column-gap: 2em;
  grid-template-columns: 370px 370px;
  row-gap: 1em;
  margin-bottom: 1em;
}

.dropdowns label {
  display: flex;
  justify-content: space-between;
  column-gap: 0.25em;
}

.dropdowns label span {
  flex: 1 1 0;
  overflow: hidden;
  white-space: nowrap
}

.dropdowns label span::after {
  content: " ...................................";
  font-size: 0.7em;
  color: #aaaaaa;
  display: inline-block;
  transform: translateY(3px);
  opacity: 0.5;
}


@media (max-width: 830px) {
  .dropdowns {
    grid-template-columns: min(370px, 100%);
  }

  .dropdowns label span::after {
    content: none;
  }
}


@media (max-width: 400px) {
  .dropdowns label {
    flex-direction: column;
    width: 100%;
  }

  .dropdowns label span {
    all: unset;
  }

  .dropdowns label select {
    width: 100%;
  }
}